// .item {
//     min-height: 540px;
//     background-repeat: no-repeat;
//     background-color: red;
// }

.item{
    background-size: cover;
    height: 540;
}
.first {
    background-image: url('../../images/if.png');
}

.second {
    background-image: url('../../images/then.png');
}

.third {
    background-image: url('../../images/wow.png');
}
.wrapper-with-margin {
    margin: 0px 20% 0 0;
}

.owl-carousel .owl-item{
    height:540px;
    width:100%;
}