$mobile-size: '(min-device-width: 320px) and (max-device-height: 736px)';
$mobile-size: unquote($mobile-size);
@media (-webkit-min-device-pixel-ratio: 2) and #{$mobile-size} {
    //@include the-difference-images("2x");
}

@media only screen and #{$mobile-size} {}

@function calc_unit($unit, $amount) {
    $temp: $amount + $unit;
    @return unquote($temp);
}

@mixin common($unit) {
    .section-description {
        margin: 0 auto;
    }
    .section-descr-content {
        @include OpenSans('Light', 18);
    }
    .section-descr-title {
        font-size: calc_unit($unit, 6.5) !important;
    }
    .section-descr-cell,
    .section-description {
        $temp: calc_unit('vw', 100);
        width: calc(#{$temp} - 30px) !important;
    }
}

@media only screen and (orientation: landscape) and #{$mobile-size} {
    @include common('vh');
}

@media only screen and (orientation: portrait) and #{$mobile-size} {
    @include common('vw');
}
