$mobile-size: '(min-device-width: 320px) and (max-device-height: 736px)';
$mobile-size: unquote($mobile-size);
@media (-webkit-min-device-pixel-ratio: 2) and #{$mobile-size} {
    //@include the-difference-images("2x");
}

@function calc_unit($unit, $amount) {
    $temp: $amount + $unit;
    @return unquote($temp);
}

@mixin common($unit) {
    .footer-container {
        font-size: calc_unit($unit,4);
        margin: 0 15px;
        .footer-share {
            clear: both;
            float: none;
            padding: 10px 0;
            text-align: center;
        }
        .footer-logo {
            background-size: cover;
        }
        .social_icon {
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            min-height: calc_unit($unit, 8);
            margin-left: 15px;
        }
        & .social_twitter {
            min-height: 21px;
        }
        .section-column {
            margin: 0;
        }
        .section-title {
            margin-top: 20px;
        }
    }
}

@media only screen and (orientation: landscape) and #{$mobile-size} {
    @include common('vh');

    .footer-container, .section-column {
        $temp: calc_unit('vw', 100);
        width: calc(#{$temp} - 30px) !important;
    }
}

@media only screen and (orientation: portrait) and #{$mobile-size} {
    @include common('vw');

    .footer-container, .section-column {
        $temp: calc_unit('vw', 100);
        width: calc(#{$temp} - 30px) !important;
    }
}
