.inline{
  display: inline-block;
}


.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

body{
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #F3F0F0;
}