.inline{
  display: inline-block;
}


.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf')
}

$OpenSans-types: 'Bold','BoldItalic','ExtraBold','ExtraBoldItalic','Italic','Light','LightItalic','Regular','SemiboldItalic','Semibold';
@mixin generateOpenSansFonts(){
  @for $i from 1 through length($OpenSans-types) {
    $type: nth($OpenSans-types, $i);
    @include OpenSans($type); 
  }
}
 
@mixin OpenSans($type,$size){
  font-family: 'OpenSans-#{$type}', sans-serif;
  font-size: $size;
}
@mixin OpenSans_L($type,$size, $line-height){
  font-family: 'OpenSans-#{$type}', sans-serif;
  font-size: $size;
  line-height: $line-height;
}

@mixin OpenSansT($type){
  font-family: 'OpenSans-#{$type}', sans-serif;
}
body{
  font-family: 'OpenSans-Light', sans-serif;
  background-color: #F3F0F0;
  margin: 0;
}