.main-container {
    height: 400px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    height: 450px;
    background: gray;
    padding: 10px;
} 


.animate-left, .animate-right {
    height: 200px;
    background: rgba(255, 255, 0, 0.5);
    padding: 10px;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-out forwards;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-to-right {
    -webkit-animation-name: ltr;
}

.right-to-left {
    -webkit-animation-name: rtl;
}

@-webkit-keyframes ltr {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0%);
    }
}

@-webkit-keyframes rtl {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}
